<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><br><ion-button color="primary"   (click)="logOut()" >Submit Complaints</ion-button><ion-button color="primary" *ngIf="enableEdit" (click)="SaveEditedUserData()" >Save</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-list>
</ion-content>