<!-- <button (click)="onCancel()">close</button> -->
<ion-content  color="warning" >
    <ion-icon name="md-close-circle" (click)="onCancel()" style="float:right"></ion-icon>

    <form  #form="ngForm" (ngSubmit)="logIn(form)" *ngIf="!ShowOTPScreen" style="margin-top: 160px">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>SIGN IN WITH OTP</h3>
            </div>
            <div padding>
               
              <ion-item>
                <ion-input name="mobile" type="number" placeholder="Mobile" ngModel required></ion-input>
              </ion-item>
              
            </div>
            <div padding>
              <ion-button  color="dark" size="large"  type="submit" [disabled]="form.invalid"  expand="block">LogIn</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <form  #form="ngForm" (ngSubmit)="submitOTP(form)" *ngIf="ShowOTPScreen" style="margin-top: 160px">
            <ion-grid>
              <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div text-center>
                    <h3>Enter OTP</h3>
                  </div>
                  <div padding>
                    
                    <ion-item>
                      <ion-input name="otp" type="number" placeholder="Enter OTP" ngModel required></ion-input>
                    </ion-item>
                  </div>
                  <div padding>
                    <ion-button color="dark" size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
  </ion-content>