<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button defaultHref="product"></ion-back-button>
          </ion-buttons>
      </ion-buttons>
      <ion-title>About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://desenio.com/bilder/artiklar/zoom/7314_2.jpg"></ion-img>
      <ion-card-header>
     
        <ion-card-title>By: Mr Gaurav  and Shashwat</ion-card-title>
      </ion-card-header>
      </ion-card></ion-content>
