<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button defaultHref="product"></ion-back-button>
          </ion-buttons>
      </ion-buttons>
      <ion-title>Product List what You Interested In</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content class="card-background-page" >
           
    <ion-card *ngFor="let item of getSIDetailsList" routerLink="/productsDetails/{{item._id}}">
  
  
      <ion-row>
        <!-- <ion-col  class="container">
          <ion-img [src]="item.productImage"   (ionError)="imageLoaded($event)"></ion-img>
        </ion-col>
        <ion-col> -->
            <ion-col  class="container">
          <h4 style="text-align: left;"> <b>{{item.productName}} </b> </h4><br>
          <h6 style="    margin-top: -20px;
                  text-align: left;">
            <ion-icon name="pin"></ion-icon>&nbsp;
            {{item.city}} &nbsp;&nbsp; {{item.area}}
          </h6>
        </ion-col>
      </ion-row>
    </ion-card> 
    </ion-content>