<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-background-page">

  <ion-card *ngFor="let item of productList" routerLink="/productsDetails/{{item._id}}">


    <ion-row>
      <ion-col>
        <ion-img style="border: 1px black solid;  
                " [src]="item.productImage"></ion-img>
      </ion-col>
      <ion-col>

        <h4 style="text-align: left;"> <b>{{item.productName}} </b> </h4><br>
        <h6 style="    margin-top: -20px;
                text-align: left;">
          <ion-icon name="pin"></ion-icon>&nbsp;
          {{item.city}} &nbsp;&nbsp; {{item.area}}
        </h6>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
<ion-footer *ngIf="isUserLogin == 'Yes'">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="warning" value="product">
      <ion-segment-button value="product" routerLink="/product">
        <ion-icon name="logo-buffer"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="hybrid" routerLink="/sell">
        <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="sat" routerLink="/profile">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>