
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

 

<ion-content class="card-background-page">

  <ion-card *ngFor="let item of productList" routerLink="/productsDetails/{{item._id}}">
    
      <!-- <ion-item>
          <h4> {{item.productName}} </h4>
        </ion-item>
    <ion-img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxz3J2L2b2VnAM9GCCxiZvUfXQtjtkTQH1rdg-tuMqTqSFiURc5g'"></ion-img>
        -->
    <ion-row>
            <ion-col>
                <ion-img style="border: 1px black solid" [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxz3J2L2b2VnAM9GCCxiZvUfXQtjtkTQH1rdg-tuMqTqSFiURc5g'"></ion-img>
            </ion-col>
            <ion-col>
                
                <h4 style="text-align: left;"> <b>₹ {{item.price}} </b> </h4><br>
                <h6 style="    margin-top: -20px;
                text-align: left;">{{item.productName}}</h6>
                <h6 style="     
                text-align: left;"> <ion-icon name="pin"></ion-icon>{{item.area}}</h6>
            </ion-col>
            <!-- <ion-col align-self-center text-center>
              <ion-note>
                 
              </ion-note>
            </ion-col> -->
          </ion-row>
  </ion-card>

  
</ion-content>