
<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Product Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
 

<ion-content class="card-background-page">

  <ion-card >
    
      <ion-item>
          <h4> {{productDetails.productName}}</h4>
        </ion-item>
        <ion-img style="border: 1px black solid;  
        " [src]="productDetails.productImage"  (ionError)="imageLoaded($event)"></ion-img>
    <ion-row>
      <ion-col>
          <ion-note>
              <h6> Price</h6>
          </ion-note>
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
            <h6>₹ {{productDetails.price}}</h6>
        </ion-note>
      </ion-col>
    </ion-row>
    
    
          <ion-row>
            <ion-col>
                <ion-note>
                    <h6> Area</h6>
                </ion-note>
            </ion-col>
            <ion-col>
              
              
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                  <h6> {{productDetails.area}}</h6>
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-note>
                    <h6> Model No</h6>
                </ion-note>
            </ion-col>
            <ion-col>
              
              
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                  <h6> {{productDetails.modelNo}}</h6>
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-note>
                    <h6> Category</h6>
                </ion-note>
            </ion-col>
            <ion-col>
              
              
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                  <h6> {{productDetails.category}}</h6>
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-note>
                    <h6> Description</h6>
                </ion-note>
            </ion-col>
            <ion-col>
              
              
            </ion-col>
            <ion-col align-self-center text-center>
              <ion-note>
                  <h6> {{productDetails.description}}</h6>
              </ion-note>
            </ion-col>
          </ion-row>
  </ion-card>

  
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-segment  color="warning" >
            <ion-segment-button value="SI" routerLink="/sell" style="border: yellow 1px solid; background-color: black">
                <ion-label (click)="openShowInterestModal()" color="warning">Show Interest</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Query" routerLink="/profile"  style="border: yellow 1px solid;background-color: black">
                <ion-label (click)="openQueryModal()" color="warning">Ask Query</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-toolbar>
  </ion-footer>