
<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button defaultHref="product"></ion-back-button>
          </ion-buttons>
      </ion-buttons>
      <ion-title>Product Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
 

<ion-content class="card-background-page">

  <ion-card >
    
      <ion-item>
          <h4 style="font-weight: bolder;font-size: 20px"> {{productDetails.productName | capitalizeFirst}}</h4>
        </ion-item>
        <ion-img style="border: 1px black solid;  
        " [src]="productDetails.productImage"  (ionError)="imageLoaded($event)"></ion-img>
  </ion-card>
         <ion-card>
            <ion-card-header>
                <ion-card-subtitle style="text-align: left;font-weight: bolder;font-size: 14px">Model No</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                  <h6 style="text-align: left;">{{productDetails.modelNo | capitalizeFirst}}</h6>
              </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle style="text-align: left;font-weight: bolder;font-size: 14px">Category</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                    <h6 style="text-align: left;"> {{productDetails.category | capitalizeFirst}}</h6>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle style="text-align: left; font-weight: bolder;font-size: 14px">Description</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                      <h6 style="text-align: left;"> {{productDetails.description | capitalizeFirst}}</h6>
                  </ion-card-content>
              </ion-card>

              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle style="text-align: left;font-weight: bolder;font-size: 14px">AD Posted At</ion-card-subtitle>
                    </ion-card-header>
                <ion-img [src]="'https://robertgrantstats.files.wordpress.com/2013/05/iplocation_notreally.png?w=487&crop'"></ion-img>
              </ion-card>
</ion-content>

<ion-header>
    <ion-toolbar>
        <ion-segment  color="warning" >
            <ion-segment-button (click)="openShowInterestModal()"  value="SI" style="border: #ffce00 1px solid; background-color: black">
                <ion-label   color="warning">Show Interest</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Query"  (click)="openQueryModal()"  style="border: #ffce00 1px solid;background-color: white">
                <ion-label color="warning">Ask Query</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-toolbar>
  </ion-header>