<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="product"></ion-back-button>
        </ion-buttons>
    </ion-buttons>
    <ion-title>Sell </ion-title>
  </ion-toolbar>
</ion-header>

 

<ion-content>
   
  <form  #form="ngForm" (ngSubmit)="upload()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
               
                    
              <div padding *ngIf="!getNameAndDes">
                <ion-item>
                    <ion-label position="floating">Product Name</ion-label>
                  <ion-input name="productName" type="text"  [(ngModel)]="productData.productName" required></ion-input>
                </ion-item>
              </div>
              <div padding *ngIf="!getNameAndDes">
                  <ion-item>
                  <ion-label position="floating">Description</ion-label>
                 <ion-textarea name="description" type="text"   [(ngModel)]="productData.description"  required></ion-textarea>
                 </ion-item>
              </div>
              <div padding *ngIf="!getNameAndDes">
                  <ion-item>
                      <input type="file" #fileInput placeholder="Next" />
                  </ion-item>
                </div>
              <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                  <ion-item>
                  <ion-label position="floating">Price</ion-label>
                  <ion-input name="price" type="text"  [(ngModel)]="productData.price"  required></ion-input>
                </ion-item>
              </div>
              <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                  <ion-item>
                      <ion-label position="floating">Brand</ion-label>
                    <ion-input name="brandName" type="text"  [(ngModel)]="productData.brandName"  required></ion-input>
                  </ion-item>
                </div>
                <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                  <ion-item>
                    <ion-label position="floating">Model Name</ion-label>
                    <ion-input name="modelNo" type="text"  [(ngModel)]="productData.modelNo"  required></ion-input>
                </ion-item>
                </div>
                <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                
                    <ion-item>
                        <ion-label position="floating">City</ion-label>
                      <ion-input name="city" type="text"  [(ngModel)]="productData.city"  required></ion-input>
                    </ion-item>
                  </div>
                  <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                      <ion-item>
                      <ion-label position="floating">Area</ion-label>
                      <ion-input name="area" type="text"  [(ngModel)]="productData.area"  required></ion-input>
                      </ion-item>
                  </div>
                  <div padding *ngIf="getNameAndDes && !getpriceAreaandModel">
                      <ion-item>
                          <ion-label position="floating">Pincode</ion-label>
                        <ion-input name="pincode" type="number"  [(ngModel)]="productData.pincode"  required></ion-input>
                      </ion-item>
                    </div>
                   

                    <ion-button *ngIf="getNameAndDes && !getpriceAreaandModel" color="dark" type="button" (click)="FinalProductSubmit()"  expand="block">Submit</ion-button>

                    <ion-button *ngIf="!getNameAndDes" color="dark" type="button" (click)="upload()"  expand="block">Next</ion-button>
               
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
 